.eye{
  z-index: 1;
}

#eye{
  position: absolute;
  z-index: 1;
  margin-left: 145px;
}
#slideHome{
  position: absolute;
  margin-top: 130px;
  margin-left: 400px;
  color: white;
}
#slideHome2{
  position: absolute;
  margin-top: 240px;
  margin-left: 305px;
  color: white;

}

.footer{
  height:100px;
}


html{
  background: url("images/MB-blue.jpg");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
}
#img-url{
}

.nav-item{
  color: white;
}
.navbar-title{
  color: white;
  letter-spacing: 2rem;
  font-size: 72px;
  margin-left: 185px;
  font-family: "Lucida console";
  font-style: italic;

}
.title-text{
  color: white;
  letter-spacing: 2rem;
  font-family: "Lucida console";
  font-size: 60px;
  text-align: center;
  margin-left: 70px;
}
.my-row{
  font-family: "Lucida console";
}


.overlay {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


.open-overlay{

}
#carID{
  height: 95%;
  width: 95%;
  display:block;
  margin:auto;
  border-radius: 30px;
   box-shadow:3px 3px 5px 6px rgba(0, 0, 0, 0.4)
   overflow:hidden;
}


.car{
background-color: black;
opacity: .6;
width:100%;
height:100%;
z-index: 1;
color: white;
display: inline-block;
font-family: "Lucida console";
border-radius: 30px;
border: 2px solid grey;
overflow: hidden;


}
#image-preview{
}
.logo{
  max-height: 220px;
  position: absolute;
  width: auto;
  height: 100%
  display: inline-block;
  overflow: hidden;
}
#logodiv{
  height:220px;
  margin-top: 50px;
  overflow: hidden;
}
#parent{
  overflow: hidden;
}
#addPost{
  opacity: .7;
  background-color: black;
  color: white;
  border: 1px solid grey;

}
form{
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
form > .textbox {
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

form > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

form > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

form > .button:hover {
  background-color: rgba(0, 150, 136, 0.8);
}
