#slideHome{
  position: absolute;
  margin-top: 130px;
  margin-left: 185px;
  color: white;
}
#slideHome2{
  position: absolute;
  margin-top: 240px;
  margin-left: 235px;
  color: white;

}

.footer{
  height:100px;
  border-top: 2px solid white;
}


html{
  background: url("images/MB-blue.jpg");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
}
#img-url{
  margin-left: 450px;
}

.nav-item{
  color: white;
}
.navbar-title{
  color: white;
  letter-spacing: 2rem;
  font-size: 72px;
  margin-left: 185px;
  font-family: "Lucida console";
  font-style: italic;

}
.title-text{
  color: white;
  letter-spacing: 2rem;
  font-family: "Lucida console";
  font-size: 60px;
  text-align: center;
  margin-left: 30px;
}
.my-row{
  font-family: "Lucida console";
}


.overlay {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


.open-overlay{

}
#carID{
  height: 95%;
  width: 95%;
  display:block;
  margin:auto;
  border-radius: 30px;
   box-shadow:3px 3px 5px 6px rgba(0, 0, 0, 0.4)
}


.car{
background-color: black;
opacity: .6;
width:100%;
height:100%;
z-index: 1;
color: white;
display: inline-block;
font-family: "Lucida console";
border-radius: 30px;
border: 2px solid grey;


}
#image-preview{
  overflow: hidden;
}
